@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,500&display=swap');

html, body {  
    font-family: 'Open Sans', sans-serif; 
    font-style: normal;
}

/* media query a utilizar em mobile */
/* para screen, entre 0 e o maximo width de 768px*/

header{
    border-bottom: 1px solid black;
}
body
{
    background: #E4EDFA;
    margin: 0 auto;
    max-width: 986px;
    padding: 100px;   
}

.title
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #374A59;
    line-height: 21px;
    padding-bottom:8px;
    border-bottom: 1px solid #374A59;
}

.allCards
{
    display: flex;
    background: transparent;
    gap: 16px;
}

.card
{
    background: white;
    border-radius: 10px;    
}

.smallLetters
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smallLetters span
{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px; 
}

.text h1
{
    font-family: 'DM Serif Display';
    line-height: 25px;
    font-weight: 400;
    font-size: 20px;

}
.text p
{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}


.cardEnd
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #007AE9;
}


.author
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover; 
    gap:5px;
 
}
.author img
{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

a:link 
{ 
    text-decoration: none; 
}
a, a:visited, a:hover, a:active 
{
    color: inherit;
}

.imagebackground
{
    display:flex;
    background: #BCD1FF;;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.imagebackground img
{
    width: 120px;
    height: 120px;
    padding: 26px;   
}

.cardContent
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 24px;
}

.letters
{
    display: flex;
    flex-direction: column;
}

@media All and (max-width: 768px) 
{

body
{     
    margin:0;
    max-width: 100%;
    padding: 10px;    
}

.allCards
{
    flex-direction: column;   
}

.card
{
    display: flex;      
}

.imagebackground
{
    flex-direction: column;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.imagebackground img
{
    width: 71px;
    height: 71px
}

.text p
{
    display:none;
}

.author
{
    display:none;
}

.cardEnd
{
    justify-content:flex-end;
    padding-top: 10px;   
}

.cardContent
{
    padding: 5px;
    width: 100%;   
}

text.h1
{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.title
{
    font-size: 20px;
}

span, a
{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}


}