* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: gainsboro;
}

a:hover {
  cursor: pointer;
}

button {
  width: 233px;
  height: 56px;
  color: #53545C;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  border: none;
  gap: 18px;
  padding-left: 22px;
  font-size: 14px;
  border-radius: 12px;
}
button > img {
  width: 20px;
  height: 20px;
}
button:focus {
  color: #FFFFFF;
  background: #5570F1;
}
button:focus .notifications-circle {
  color: black;
}
button:hover {
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.sidebar--footer--buttons--support {
  background: rgba(94, 99, 102, 0.1);
}

.sidebar--footer--logout {
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: red;
}

.sidebar--footer--buttons--gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgba(255, 204, 145, 0.2);
  width: 233px;
  height: 82px;
}
.sidebar--footer--buttons--gift--top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
.sidebar--footer--buttons--gift--bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  font-size: 12px;
}
.sidebar--footer--buttons--gift--bottom img {
  width: 4px;
  height: 8px;
}

.btn-notifications-user {
  width: 20px;
  height: 20px;
  gap: 0;
  padding: 0;
  border-radius: 2px;
}
.btn-notifications-user img {
  width: 20px;
  height: 20px;
}

.btn-new-product {
  width: 180px;
  height: 44px;
  background: #5570F1;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-new-product--img {
  width: 14px;
  height: 14px;
}

.notifications-circle {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #FFCC91;
  line-height: 24px;
}

.rectangle {
  width: 13px;
  height: 241px;
  border-radius: 50px;
  background: #EEF0FA;
}

.point {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: black;
}
.point--color1 {
  background: #5570F1;
}
.point--color2 {
  background: #97A5EB;
}
.point--color3 {
  background: #FFCC91;
}

.blue-sqr {
  width: 100%;
  min-height: 208px;
  background: #EEF0FA;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 32px 0;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  display: flex;
  flex-wrap: wrap;
  min-height: 20px;
  justify-content: center;
}

.col-1 {
  width: 8.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-1 {
    width: 100%;
  }
}

.col-2 {
  width: 16.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-2 {
    width: 100%;
  }
}

.col-3 {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .col-3 {
    width: 100%;
  }
}

.col-4 {
  width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-4 {
    width: 100%;
  }
}

.col-5 {
  width: 41.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-5 {
    width: 100%;
  }
}

.col-6 {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
  }
}

.col-7 {
  width: 58.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-7 {
    width: 100%;
  }
}

.col-8 {
  width: 66.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-8 {
    width: 100%;
  }
}

.col-9 {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .col-9 {
    width: 100%;
  }
}

.col-10 {
  width: 83.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-10 {
    width: 100%;
  }
}

.col-11 {
  width: 91.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-11 {
    width: 100%;
  }
}

.col-12 {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .col-12 {
    width: 100%;
  }
}

.sidebar {
  min-width: 298px;
  max-height: 100vh;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
}
.sidebar--menu--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 28px;
  font-size: 20px;
  font-weight: bold;
}
.sidebar--menu--logo > img {
  width: 50px;
  height: 50px;
}
.sidebar--menu--nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar--footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 37px;
}
.sidebar--footer--buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

.top--description {
  height: 60px;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding-left: 21px;
  padding-right: 21px;
}
.top--description--buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dash {
  width: 100%;
}

.module {
  width: 100%;
  min-height: 145px;
  margin: 8px;
  background-color: white;
  padding: 15px;
  border-radius: 12px;
}
.module--height {
  min-height: 357px;
}
.module--flex--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.module--flex--column--orders {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 160px;
}
.module--blue {
  background: #5570F1;
}

.card {
  width: 100%;
}
.card--metrics--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #BEC0CA;
}
.card--metrics--top--color {
  color: white;
}
.card--metrics--top img {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}
.card--metrics--bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
  flex-wrap: wrap;
}
.card--metrics--bottom--title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8D97;
}
.card--metrics--bottom--title--white {
  color: white;
}
.card--metrics--bottom--title--red {
  color: #CC5F5F;
}
.card--metrics--bottom--values {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
.card--metrics--bottom--values--color {
  color: white;
}
.card--metrics--bottom--values--percent {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #519C66;
}
.card--metrics--bottom--values--percent--color {
  color: white;
}
.card--markting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.card--markting--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card--markting--top > h3 {
  font-weight: 500;
  font-size: 16px;
}
.card--markting--top span {
  font-weight: 400;
  font-size: 12px;
  color: #BEC0CA;
}
.card--markting--mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 11px;
  color: #A6A8B1;
}
.card--markting--mid--legend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.card--graph--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card--graph--top--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
}
.card--graph--top--left select {
  background: rgba(85, 112, 241, 0.08);
  border-radius: 8px;
  width: 99px;
  height: 30px;
  color: #5570F1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
}
.card--graph--top--left h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #45464E;
}
.card--graph--top span {
  font-weight: 400;
  font-size: 12px;
  color: #1C1D22;
}
.card--graph--bottom {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #BEC0CA;
}
.card--graph--bottom--bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.card--graph--bottom--bars {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.card--graph--bottom--yaxis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 37px;
}
.card--graph--bottom select {
  background: rgba(85, 112, 241, 0.08);
  border-radius: 8px;
  width: 99px;
  height: 30px;
  color: #5570F1;
}
.card--recent_orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card--recent_orders p {
  max-width: 282px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #8B8D97;
  margin-bottom: 24px;
}
.card--recent_orders h3 {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 12px;
}
.card--recent_orders > img {
  width: 140px;
  height: 140px;
  margin-bottom: 40px;
}

body {
  display: flex;
}

.block {
  background: #F4F5FA;
  flex-grow: 1;
  min-height: 100vh;
}/*# sourceMappingURL=styles.css.map */