@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: gainsboro;
}

a:hover {
  cursor: pointer;
}

.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-warning {
  color: #CC5F5F;
}

.bg-warning {
  background-color: #CC5F5F;
}

.text-success {
  color: #519C66;
}

.bg-success {
  background-color: #519C66;
}

.text-gray {
  color: #E1E2E9;
}

.bg-gray {
  background-color: #E1E2E9;
}

.bg-primary-10 {
  background-color: #DBDEEE;
}

.text-primary-10 {
  color: #DBDEEE;
}

.bg-primary-20 {
  background-color: #C4CAE8;
}

.text-primary-20 {
  color: #C4CAE8;
}

.bg-primary-30 {
  background-color: #B6BFE8;
}

.text-primary-30 {
  color: #B6BFE8;
}

.bg-primary-40 {
  background-color: #ABB5E9;
}

.text-primary-40 {
  color: #ABB5E9;
}

.bg-primary-50 {
  background-color: #97A5EB;
}

.text-primary-50 {
  color: #97A5EB;
}

.bg-primary-60 {
  background-color: #8899E9;
}

.text-primary-60 {
  color: #8899E9;
}

.bg-primary-70 {
  background-color: #7C8FEC;
}

.text-primary-70 {
  color: #7C8FEC;
}

.bg-primary-80 {
  background-color: #6D83EC;
}

.text-primary-80 {
  color: #6D83EC;
}

.bg-primary-90 {
  background-color: #6078EC;
}

.text-primary-90 {
  color: #6078EC;
}

.bg-primary-100 {
  background-color: #5570F1;
}

.text-primary-100 {
  color: #5570F1;
}

.bg-secondary-10 {
  background-color: #FEF9F2;
}

.text-secondary-10 {
  color: #FEF9F2;
}

.bg-secondary-20 {
  background-color: #FEF5EA;
}

.text-secondary-20 {
  color: #FEF5EA;
}

.bg-secondary-30 {
  background-color: #FFF2E2;
}

.text-secondary-30 {
  color: #FFF2E2;
}

.bg-secondary-40 {
  background-color: #FFF0DE;
}

.text-secondary-40 {
  color: #FFF0DE;
}

.bg-secondary-50 {
  background-color: #FFEAD1;
}

.text-secondary-50 {
  color: #FFEAD1;
}

.bg-secondary-60 {
  background-color: #FFE5C8;
}

.text-secondary-60 {
  color: #FFE5C8;
}

.bg-secondary-70 {
  background-color: #FFDFBA;
}

.text-secondary-70 {
  color: #FFDFBA;
}

.bg-secondary-80 {
  background-color: #FFDAAE;
}

.text-secondary-80 {
  color: #FFDAAE;
}

.bg-secondary-90 {
  background-color: #FFD29E;
}

.text-secondary-90 {
  color: #FFD29E;
}

.bg-secondary-100 {
  background-color: #FFCC91;
}

.text-secondary-100 {
  color: #FFCC91;
}

.bg-black-10 {
  background-color: #BEC0CA;
}

.text-black-10 {
  color: #BEC0CA;
}

.bg-black-20 {
  background-color: #A6A8B1;
}

.text-black-20 {
  color: #A6A8B1;
}

.bg-black-30 {
  background-color: #8B8D97;
}

.text-black-30 {
  color: #8B8D97;
}

.bg-black-40 {
  background-color: #6E7079;
}

.text-black-40 {
  color: #6E7079;
}

.bg-black-50 {
  background-color: #53545C;
}

.text-black-50 {
  color: #53545C;
}

.bg-black-60 {
  background-color: #45464E;
}

.text-black-60 {
  color: #45464E;
}

.bg-black-70 {
  background-color: #37393F;
}

.text-black-70 {
  color: #37393F;
}

.bg-black-80 {
  background-color: #33343A;
}

.text-black-80 {
  color: #33343A;
}

.bg-black-90 {
  background-color: #2C2D33;
}

.text-black-90 {
  color: #2C2D33;
}

.bg-black-100 {
  background-color: #1C1D22;
}

.text-black-100 {
  color: #1C1D22;
}

button {
  width: 233px;
  height: 56px;
  color: #53545C;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  border: none;
  gap: 18px;
  padding-left: 22px;
  font-size: 14px;
  border-radius: 12px;
}
button > img {
  width: 20px;
  height: 20px;
}
button:focus {
  color: #FFFFFF;
  background: #5570F1;
}
button:focus .notifications-circle {
  color: #1C1D22;
}
button:hover {
  border: 1px solid #F1F3F9;
  cursor: pointer;
}

.sidebar--footer--buttons--support {
  background: rgba(94, 99, 102, 0.1);
}

.sidebar--footer--logout {
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: red;
}

.sidebar--footer--buttons--gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgba(255, 204, 145, 0.2);
  width: 233px;
  height: 82px;
}
.sidebar--footer--buttons--gift--top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
.sidebar--footer--buttons--gift--bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  font-size: 12px;
}
.sidebar--footer--buttons--gift--bottom img {
  width: 4px;
  height: 8px;
}

.btn-notifications-user {
  width: 32px;
  height: 32px;
  gap: 0;
  padding: 0;
  border-radius: 2px;
}
.btn-notifications-user img {
  width: 32px;
  height: 32px;
}

.btn-notifications {
  width: 20px;
  height: 20px;
  gap: 0;
  padding: 0;
  border-radius: 2px;
}

.btn-new-product {
  width: 150px;
  height: 44px;
  background: #5570F1;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.btn-new-product--img {
  width: 14px;
  height: 14px;
}

.btn-login-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 58px;
  background: #5570F1;
  border-radius: 12px;
  padding: 0;
}
.btn-login-submit > p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.btn-login-showpass {
  background: none;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
}

@media All and (max-width: 768px) {
  button {
    gap: 0;
  }
  .sidebar--footer--buttons--gift {
    align-items: center;
    justify-content: center;
  }
  .sidebar--footer--buttons--gift--top {
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .sidebar--footer--buttons--gift--bottom {
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .sidebar--footer--buttons--gift--bottom img {
    display: none;
    align-items: center;
  }
  .btn-new-product {
    gap: 18px;
  }
}
.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-warning {
  color: #CC5F5F;
}

.bg-warning {
  background-color: #CC5F5F;
}

.text-success {
  color: #519C66;
}

.bg-success {
  background-color: #519C66;
}

.text-gray {
  color: #E1E2E9;
}

.bg-gray {
  background-color: #E1E2E9;
}

.bg-primary-10 {
  background-color: #DBDEEE;
}

.text-primary-10 {
  color: #DBDEEE;
}

.bg-primary-20 {
  background-color: #C4CAE8;
}

.text-primary-20 {
  color: #C4CAE8;
}

.bg-primary-30 {
  background-color: #B6BFE8;
}

.text-primary-30 {
  color: #B6BFE8;
}

.bg-primary-40 {
  background-color: #ABB5E9;
}

.text-primary-40 {
  color: #ABB5E9;
}

.bg-primary-50 {
  background-color: #97A5EB;
}

.text-primary-50 {
  color: #97A5EB;
}

.bg-primary-60 {
  background-color: #8899E9;
}

.text-primary-60 {
  color: #8899E9;
}

.bg-primary-70 {
  background-color: #7C8FEC;
}

.text-primary-70 {
  color: #7C8FEC;
}

.bg-primary-80 {
  background-color: #6D83EC;
}

.text-primary-80 {
  color: #6D83EC;
}

.bg-primary-90 {
  background-color: #6078EC;
}

.text-primary-90 {
  color: #6078EC;
}

.bg-primary-100 {
  background-color: #5570F1;
}

.text-primary-100 {
  color: #5570F1;
}

.bg-secondary-10 {
  background-color: #FEF9F2;
}

.text-secondary-10 {
  color: #FEF9F2;
}

.bg-secondary-20 {
  background-color: #FEF5EA;
}

.text-secondary-20 {
  color: #FEF5EA;
}

.bg-secondary-30 {
  background-color: #FFF2E2;
}

.text-secondary-30 {
  color: #FFF2E2;
}

.bg-secondary-40 {
  background-color: #FFF0DE;
}

.text-secondary-40 {
  color: #FFF0DE;
}

.bg-secondary-50 {
  background-color: #FFEAD1;
}

.text-secondary-50 {
  color: #FFEAD1;
}

.bg-secondary-60 {
  background-color: #FFE5C8;
}

.text-secondary-60 {
  color: #FFE5C8;
}

.bg-secondary-70 {
  background-color: #FFDFBA;
}

.text-secondary-70 {
  color: #FFDFBA;
}

.bg-secondary-80 {
  background-color: #FFDAAE;
}

.text-secondary-80 {
  color: #FFDAAE;
}

.bg-secondary-90 {
  background-color: #FFD29E;
}

.text-secondary-90 {
  color: #FFD29E;
}

.bg-secondary-100 {
  background-color: #FFCC91;
}

.text-secondary-100 {
  color: #FFCC91;
}

.bg-black-10 {
  background-color: #BEC0CA;
}

.text-black-10 {
  color: #BEC0CA;
}

.bg-black-20 {
  background-color: #A6A8B1;
}

.text-black-20 {
  color: #A6A8B1;
}

.bg-black-30 {
  background-color: #8B8D97;
}

.text-black-30 {
  color: #8B8D97;
}

.bg-black-40 {
  background-color: #6E7079;
}

.text-black-40 {
  color: #6E7079;
}

.bg-black-50 {
  background-color: #53545C;
}

.text-black-50 {
  color: #53545C;
}

.bg-black-60 {
  background-color: #45464E;
}

.text-black-60 {
  color: #45464E;
}

.bg-black-70 {
  background-color: #37393F;
}

.text-black-70 {
  color: #37393F;
}

.bg-black-80 {
  background-color: #33343A;
}

.text-black-80 {
  color: #33343A;
}

.bg-black-90 {
  background-color: #2C2D33;
}

.text-black-90 {
  color: #2C2D33;
}

.bg-black-100 {
  background-color: #1C1D22;
}

.text-black-100 {
  color: #1C1D22;
}

.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-warning {
  color: #CC5F5F;
}

.bg-warning {
  background-color: #CC5F5F;
}

.text-success {
  color: #519C66;
}

.bg-success {
  background-color: #519C66;
}

.text-gray {
  color: #E1E2E9;
}

.bg-gray {
  background-color: #E1E2E9;
}

.bg-primary-10 {
  background-color: #DBDEEE;
}

.text-primary-10 {
  color: #DBDEEE;
}

.bg-primary-20 {
  background-color: #C4CAE8;
}

.text-primary-20 {
  color: #C4CAE8;
}

.bg-primary-30 {
  background-color: #B6BFE8;
}

.text-primary-30 {
  color: #B6BFE8;
}

.bg-primary-40 {
  background-color: #ABB5E9;
}

.text-primary-40 {
  color: #ABB5E9;
}

.bg-primary-50 {
  background-color: #97A5EB;
}

.text-primary-50 {
  color: #97A5EB;
}

.bg-primary-60 {
  background-color: #8899E9;
}

.text-primary-60 {
  color: #8899E9;
}

.bg-primary-70 {
  background-color: #7C8FEC;
}

.text-primary-70 {
  color: #7C8FEC;
}

.bg-primary-80 {
  background-color: #6D83EC;
}

.text-primary-80 {
  color: #6D83EC;
}

.bg-primary-90 {
  background-color: #6078EC;
}

.text-primary-90 {
  color: #6078EC;
}

.bg-primary-100 {
  background-color: #5570F1;
}

.text-primary-100 {
  color: #5570F1;
}

.bg-secondary-10 {
  background-color: #FEF9F2;
}

.text-secondary-10 {
  color: #FEF9F2;
}

.bg-secondary-20 {
  background-color: #FEF5EA;
}

.text-secondary-20 {
  color: #FEF5EA;
}

.bg-secondary-30 {
  background-color: #FFF2E2;
}

.text-secondary-30 {
  color: #FFF2E2;
}

.bg-secondary-40 {
  background-color: #FFF0DE;
}

.text-secondary-40 {
  color: #FFF0DE;
}

.bg-secondary-50 {
  background-color: #FFEAD1;
}

.text-secondary-50 {
  color: #FFEAD1;
}

.bg-secondary-60 {
  background-color: #FFE5C8;
}

.text-secondary-60 {
  color: #FFE5C8;
}

.bg-secondary-70 {
  background-color: #FFDFBA;
}

.text-secondary-70 {
  color: #FFDFBA;
}

.bg-secondary-80 {
  background-color: #FFDAAE;
}

.text-secondary-80 {
  color: #FFDAAE;
}

.bg-secondary-90 {
  background-color: #FFD29E;
}

.text-secondary-90 {
  color: #FFD29E;
}

.bg-secondary-100 {
  background-color: #FFCC91;
}

.text-secondary-100 {
  color: #FFCC91;
}

.bg-black-10 {
  background-color: #BEC0CA;
}

.text-black-10 {
  color: #BEC0CA;
}

.bg-black-20 {
  background-color: #A6A8B1;
}

.text-black-20 {
  color: #A6A8B1;
}

.bg-black-30 {
  background-color: #8B8D97;
}

.text-black-30 {
  color: #8B8D97;
}

.bg-black-40 {
  background-color: #6E7079;
}

.text-black-40 {
  color: #6E7079;
}

.bg-black-50 {
  background-color: #53545C;
}

.text-black-50 {
  color: #53545C;
}

.bg-black-60 {
  background-color: #45464E;
}

.text-black-60 {
  color: #45464E;
}

.bg-black-70 {
  background-color: #37393F;
}

.text-black-70 {
  color: #37393F;
}

.bg-black-80 {
  background-color: #33343A;
}

.text-black-80 {
  color: #33343A;
}

.bg-black-90 {
  background-color: #2C2D33;
}

.text-black-90 {
  color: #2C2D33;
}

.bg-black-100 {
  background-color: #1C1D22;
}

.text-black-100 {
  color: #1C1D22;
}

.notifications-circle {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #FFCC91;
  line-height: 24px;
}

.rectangle {
  width: 13px;
  height: 241px;
  border-radius: 50px;
  background: #EEF0FA;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.rectangle--value10 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 10%;
}
.rectangle--value20 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 20%;
}
.rectangle--value30 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 30%;
}
.rectangle--value40 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 40%;
}
.rectangle--value50 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 50%;
}
.rectangle--value60 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 60%;
}
.rectangle--value70 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 70%;
}
.rectangle--value80 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 80%;
}
.rectangle--value90 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 90%;
}
.rectangle--value100 {
  background: #5570F1;
  border-radius: 50px;
  width: 13px;
  height: 100%;
}

.point {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #1C1D22;
}
.point--color1 {
  background: #5570F1;
}
.point--color2 {
  background: #97A5EB;
}
.point--color3 {
  background: #FFCC91;
}

.blue-sqr {
  width: 100%;
  min-height: 208px;
  background: #EEF0FA;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.blue-sqr--acquisition {
  width: 25%;
  height: 100%;
  text-align: right;
  vertical-align: bottom;
  position: relative;
  background: #5570F1;
}
.blue-sqr--purchase {
  width: 25%;
  height: 100%;
  text-align: right;
  vertical-align: bottom;
  position: relative;
  background: #97A5EB;
}
.blue-sqr--retention {
  width: 50%;
  height: 100%;
  text-align: right;
  vertical-align: bottom;
  position: relative;
  background: #FFCC91;
}
.blue-sqr span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #1C1D22;
}

@media All and (max-width: 768px) {
  .notifications-circle {
    position: absolute;
    top: 3px;
    right: 0px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 32px 0;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  display: flex;
  flex-wrap: wrap;
  min-height: 20px;
  justify-content: center;
}

.col-1 {
  width: 8.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-1 {
    width: 100%;
  }
}

.col-2 {
  width: 16.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-2 {
    width: 100%;
  }
}

.col-3 {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .col-3 {
    width: 100%;
  }
}

.col-4 {
  width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-4 {
    width: 100%;
  }
}

.col-5 {
  width: 41.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-5 {
    width: 100%;
  }
}

.col-6 {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
  }
}

.col-7 {
  width: 58.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-7 {
    width: 100%;
  }
}

.col-8 {
  width: 66.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-8 {
    width: 100%;
  }
}

.col-9 {
  width: 75%;
}
@media screen and (max-width: 768px) {
  .col-9 {
    width: 100%;
  }
}

.col-10 {
  width: 83.3333333333%;
}
@media screen and (max-width: 768px) {
  .col-10 {
    width: 100%;
  }
}

.col-11 {
  width: 91.6666666667%;
}
@media screen and (max-width: 768px) {
  .col-11 {
    width: 100%;
  }
}

.col-12 {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .col-12 {
    width: 100%;
  }
}

.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-warning {
  color: #CC5F5F;
}

.bg-warning {
  background-color: #CC5F5F;
}

.text-success {
  color: #519C66;
}

.bg-success {
  background-color: #519C66;
}

.text-gray {
  color: #E1E2E9;
}

.bg-gray {
  background-color: #E1E2E9;
}

.bg-primary-10 {
  background-color: #DBDEEE;
}

.text-primary-10 {
  color: #DBDEEE;
}

.bg-primary-20 {
  background-color: #C4CAE8;
}

.text-primary-20 {
  color: #C4CAE8;
}

.bg-primary-30 {
  background-color: #B6BFE8;
}

.text-primary-30 {
  color: #B6BFE8;
}

.bg-primary-40 {
  background-color: #ABB5E9;
}

.text-primary-40 {
  color: #ABB5E9;
}

.bg-primary-50 {
  background-color: #97A5EB;
}

.text-primary-50 {
  color: #97A5EB;
}

.bg-primary-60 {
  background-color: #8899E9;
}

.text-primary-60 {
  color: #8899E9;
}

.bg-primary-70 {
  background-color: #7C8FEC;
}

.text-primary-70 {
  color: #7C8FEC;
}

.bg-primary-80 {
  background-color: #6D83EC;
}

.text-primary-80 {
  color: #6D83EC;
}

.bg-primary-90 {
  background-color: #6078EC;
}

.text-primary-90 {
  color: #6078EC;
}

.bg-primary-100 {
  background-color: #5570F1;
}

.text-primary-100 {
  color: #5570F1;
}

.bg-secondary-10 {
  background-color: #FEF9F2;
}

.text-secondary-10 {
  color: #FEF9F2;
}

.bg-secondary-20 {
  background-color: #FEF5EA;
}

.text-secondary-20 {
  color: #FEF5EA;
}

.bg-secondary-30 {
  background-color: #FFF2E2;
}

.text-secondary-30 {
  color: #FFF2E2;
}

.bg-secondary-40 {
  background-color: #FFF0DE;
}

.text-secondary-40 {
  color: #FFF0DE;
}

.bg-secondary-50 {
  background-color: #FFEAD1;
}

.text-secondary-50 {
  color: #FFEAD1;
}

.bg-secondary-60 {
  background-color: #FFE5C8;
}

.text-secondary-60 {
  color: #FFE5C8;
}

.bg-secondary-70 {
  background-color: #FFDFBA;
}

.text-secondary-70 {
  color: #FFDFBA;
}

.bg-secondary-80 {
  background-color: #FFDAAE;
}

.text-secondary-80 {
  color: #FFDAAE;
}

.bg-secondary-90 {
  background-color: #FFD29E;
}

.text-secondary-90 {
  color: #FFD29E;
}

.bg-secondary-100 {
  background-color: #FFCC91;
}

.text-secondary-100 {
  color: #FFCC91;
}

.bg-black-10 {
  background-color: #BEC0CA;
}

.text-black-10 {
  color: #BEC0CA;
}

.bg-black-20 {
  background-color: #A6A8B1;
}

.text-black-20 {
  color: #A6A8B1;
}

.bg-black-30 {
  background-color: #8B8D97;
}

.text-black-30 {
  color: #8B8D97;
}

.bg-black-40 {
  background-color: #6E7079;
}

.text-black-40 {
  color: #6E7079;
}

.bg-black-50 {
  background-color: #53545C;
}

.text-black-50 {
  color: #53545C;
}

.bg-black-60 {
  background-color: #45464E;
}

.text-black-60 {
  color: #45464E;
}

.bg-black-70 {
  background-color: #37393F;
}

.text-black-70 {
  color: #37393F;
}

.bg-black-80 {
  background-color: #33343A;
}

.text-black-80 {
  color: #33343A;
}

.bg-black-90 {
  background-color: #2C2D33;
}

.text-black-90 {
  color: #2C2D33;
}

.bg-black-100 {
  background-color: #1C1D22;
}

.text-black-100 {
  color: #1C1D22;
}

.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-warning {
  color: #CC5F5F;
}

.bg-warning {
  background-color: #CC5F5F;
}

.text-success {
  color: #519C66;
}

.bg-success {
  background-color: #519C66;
}

.text-gray {
  color: #E1E2E9;
}

.bg-gray {
  background-color: #E1E2E9;
}

.bg-primary-10 {
  background-color: #DBDEEE;
}

.text-primary-10 {
  color: #DBDEEE;
}

.bg-primary-20 {
  background-color: #C4CAE8;
}

.text-primary-20 {
  color: #C4CAE8;
}

.bg-primary-30 {
  background-color: #B6BFE8;
}

.text-primary-30 {
  color: #B6BFE8;
}

.bg-primary-40 {
  background-color: #ABB5E9;
}

.text-primary-40 {
  color: #ABB5E9;
}

.bg-primary-50 {
  background-color: #97A5EB;
}

.text-primary-50 {
  color: #97A5EB;
}

.bg-primary-60 {
  background-color: #8899E9;
}

.text-primary-60 {
  color: #8899E9;
}

.bg-primary-70 {
  background-color: #7C8FEC;
}

.text-primary-70 {
  color: #7C8FEC;
}

.bg-primary-80 {
  background-color: #6D83EC;
}

.text-primary-80 {
  color: #6D83EC;
}

.bg-primary-90 {
  background-color: #6078EC;
}

.text-primary-90 {
  color: #6078EC;
}

.bg-primary-100 {
  background-color: #5570F1;
}

.text-primary-100 {
  color: #5570F1;
}

.bg-secondary-10 {
  background-color: #FEF9F2;
}

.text-secondary-10 {
  color: #FEF9F2;
}

.bg-secondary-20 {
  background-color: #FEF5EA;
}

.text-secondary-20 {
  color: #FEF5EA;
}

.bg-secondary-30 {
  background-color: #FFF2E2;
}

.text-secondary-30 {
  color: #FFF2E2;
}

.bg-secondary-40 {
  background-color: #FFF0DE;
}

.text-secondary-40 {
  color: #FFF0DE;
}

.bg-secondary-50 {
  background-color: #FFEAD1;
}

.text-secondary-50 {
  color: #FFEAD1;
}

.bg-secondary-60 {
  background-color: #FFE5C8;
}

.text-secondary-60 {
  color: #FFE5C8;
}

.bg-secondary-70 {
  background-color: #FFDFBA;
}

.text-secondary-70 {
  color: #FFDFBA;
}

.bg-secondary-80 {
  background-color: #FFDAAE;
}

.text-secondary-80 {
  color: #FFDAAE;
}

.bg-secondary-90 {
  background-color: #FFD29E;
}

.text-secondary-90 {
  color: #FFD29E;
}

.bg-secondary-100 {
  background-color: #FFCC91;
}

.text-secondary-100 {
  color: #FFCC91;
}

.bg-black-10 {
  background-color: #BEC0CA;
}

.text-black-10 {
  color: #BEC0CA;
}

.bg-black-20 {
  background-color: #A6A8B1;
}

.text-black-20 {
  color: #A6A8B1;
}

.bg-black-30 {
  background-color: #8B8D97;
}

.text-black-30 {
  color: #8B8D97;
}

.bg-black-40 {
  background-color: #6E7079;
}

.text-black-40 {
  color: #6E7079;
}

.bg-black-50 {
  background-color: #53545C;
}

.text-black-50 {
  color: #53545C;
}

.bg-black-60 {
  background-color: #45464E;
}

.text-black-60 {
  color: #45464E;
}

.bg-black-70 {
  background-color: #37393F;
}

.text-black-70 {
  color: #37393F;
}

.bg-black-80 {
  background-color: #33343A;
}

.text-black-80 {
  color: #33343A;
}

.bg-black-90 {
  background-color: #2C2D33;
}

.text-black-90 {
  color: #2C2D33;
}

.bg-black-100 {
  background-color: #1C1D22;
}

.text-black-100 {
  color: #1C1D22;
}

.sidebar {
  min-width: 298px;
  max-height: 100vh;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 32px;
  padding-top: 18px;
  padding-bottom: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
}
.sidebar--menu--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-bottom: 28px;
  font-size: 20px;
  font-weight: bold;
}
.sidebar--menu--logo > img {
  width: 50px;
  height: 50px;
}
.sidebar--menu--nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar--footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 37px;
}
.sidebar--footer--buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

@media All and (max-width: 768px) {
  .sidebar {
    min-width: 88px;
    padding-left: 0;
    align-items: center;
  }
  .sidebar span {
    display: none;
  }
  .sidebar h1 {
    display: none;
  }
  .sidebar button {
    width: 56px;
    height: 56px;
    justify-content: center;
    padding: 0;
    position: relative;
  }
  .sidebar--menu--logo {
    justify-content: center;
    gap: 0;
  }
}
.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-warning {
  color: #CC5F5F;
}

.bg-warning {
  background-color: #CC5F5F;
}

.text-success {
  color: #519C66;
}

.bg-success {
  background-color: #519C66;
}

.text-gray {
  color: #E1E2E9;
}

.bg-gray {
  background-color: #E1E2E9;
}

.bg-primary-10 {
  background-color: #DBDEEE;
}

.text-primary-10 {
  color: #DBDEEE;
}

.bg-primary-20 {
  background-color: #C4CAE8;
}

.text-primary-20 {
  color: #C4CAE8;
}

.bg-primary-30 {
  background-color: #B6BFE8;
}

.text-primary-30 {
  color: #B6BFE8;
}

.bg-primary-40 {
  background-color: #ABB5E9;
}

.text-primary-40 {
  color: #ABB5E9;
}

.bg-primary-50 {
  background-color: #97A5EB;
}

.text-primary-50 {
  color: #97A5EB;
}

.bg-primary-60 {
  background-color: #8899E9;
}

.text-primary-60 {
  color: #8899E9;
}

.bg-primary-70 {
  background-color: #7C8FEC;
}

.text-primary-70 {
  color: #7C8FEC;
}

.bg-primary-80 {
  background-color: #6D83EC;
}

.text-primary-80 {
  color: #6D83EC;
}

.bg-primary-90 {
  background-color: #6078EC;
}

.text-primary-90 {
  color: #6078EC;
}

.bg-primary-100 {
  background-color: #5570F1;
}

.text-primary-100 {
  color: #5570F1;
}

.bg-secondary-10 {
  background-color: #FEF9F2;
}

.text-secondary-10 {
  color: #FEF9F2;
}

.bg-secondary-20 {
  background-color: #FEF5EA;
}

.text-secondary-20 {
  color: #FEF5EA;
}

.bg-secondary-30 {
  background-color: #FFF2E2;
}

.text-secondary-30 {
  color: #FFF2E2;
}

.bg-secondary-40 {
  background-color: #FFF0DE;
}

.text-secondary-40 {
  color: #FFF0DE;
}

.bg-secondary-50 {
  background-color: #FFEAD1;
}

.text-secondary-50 {
  color: #FFEAD1;
}

.bg-secondary-60 {
  background-color: #FFE5C8;
}

.text-secondary-60 {
  color: #FFE5C8;
}

.bg-secondary-70 {
  background-color: #FFDFBA;
}

.text-secondary-70 {
  color: #FFDFBA;
}

.bg-secondary-80 {
  background-color: #FFDAAE;
}

.text-secondary-80 {
  color: #FFDAAE;
}

.bg-secondary-90 {
  background-color: #FFD29E;
}

.text-secondary-90 {
  color: #FFD29E;
}

.bg-secondary-100 {
  background-color: #FFCC91;
}

.text-secondary-100 {
  color: #FFCC91;
}

.bg-black-10 {
  background-color: #BEC0CA;
}

.text-black-10 {
  color: #BEC0CA;
}

.bg-black-20 {
  background-color: #A6A8B1;
}

.text-black-20 {
  color: #A6A8B1;
}

.bg-black-30 {
  background-color: #8B8D97;
}

.text-black-30 {
  color: #8B8D97;
}

.bg-black-40 {
  background-color: #6E7079;
}

.text-black-40 {
  color: #6E7079;
}

.bg-black-50 {
  background-color: #53545C;
}

.text-black-50 {
  color: #53545C;
}

.bg-black-60 {
  background-color: #45464E;
}

.text-black-60 {
  color: #45464E;
}

.bg-black-70 {
  background-color: #37393F;
}

.text-black-70 {
  color: #37393F;
}

.bg-black-80 {
  background-color: #33343A;
}

.text-black-80 {
  color: #33343A;
}

.bg-black-90 {
  background-color: #2C2D33;
}

.text-black-90 {
  color: #2C2D33;
}

.bg-black-100 {
  background-color: #1C1D22;
}

.text-black-100 {
  color: #1C1D22;
}

nav {
  height: 60px;
  background: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  padding-left: 21px;
  padding-right: 21px;
}

.top-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
}

.text-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.text-warning {
  color: #CC5F5F;
}

.bg-warning {
  background-color: #CC5F5F;
}

.text-success {
  color: #519C66;
}

.bg-success {
  background-color: #519C66;
}

.text-gray {
  color: #E1E2E9;
}

.bg-gray {
  background-color: #E1E2E9;
}

.bg-primary-10 {
  background-color: #DBDEEE;
}

.text-primary-10 {
  color: #DBDEEE;
}

.bg-primary-20 {
  background-color: #C4CAE8;
}

.text-primary-20 {
  color: #C4CAE8;
}

.bg-primary-30 {
  background-color: #B6BFE8;
}

.text-primary-30 {
  color: #B6BFE8;
}

.bg-primary-40 {
  background-color: #ABB5E9;
}

.text-primary-40 {
  color: #ABB5E9;
}

.bg-primary-50 {
  background-color: #97A5EB;
}

.text-primary-50 {
  color: #97A5EB;
}

.bg-primary-60 {
  background-color: #8899E9;
}

.text-primary-60 {
  color: #8899E9;
}

.bg-primary-70 {
  background-color: #7C8FEC;
}

.text-primary-70 {
  color: #7C8FEC;
}

.bg-primary-80 {
  background-color: #6D83EC;
}

.text-primary-80 {
  color: #6D83EC;
}

.bg-primary-90 {
  background-color: #6078EC;
}

.text-primary-90 {
  color: #6078EC;
}

.bg-primary-100 {
  background-color: #5570F1;
}

.text-primary-100 {
  color: #5570F1;
}

.bg-secondary-10 {
  background-color: #FEF9F2;
}

.text-secondary-10 {
  color: #FEF9F2;
}

.bg-secondary-20 {
  background-color: #FEF5EA;
}

.text-secondary-20 {
  color: #FEF5EA;
}

.bg-secondary-30 {
  background-color: #FFF2E2;
}

.text-secondary-30 {
  color: #FFF2E2;
}

.bg-secondary-40 {
  background-color: #FFF0DE;
}

.text-secondary-40 {
  color: #FFF0DE;
}

.bg-secondary-50 {
  background-color: #FFEAD1;
}

.text-secondary-50 {
  color: #FFEAD1;
}

.bg-secondary-60 {
  background-color: #FFE5C8;
}

.text-secondary-60 {
  color: #FFE5C8;
}

.bg-secondary-70 {
  background-color: #FFDFBA;
}

.text-secondary-70 {
  color: #FFDFBA;
}

.bg-secondary-80 {
  background-color: #FFDAAE;
}

.text-secondary-80 {
  color: #FFDAAE;
}

.bg-secondary-90 {
  background-color: #FFD29E;
}

.text-secondary-90 {
  color: #FFD29E;
}

.bg-secondary-100 {
  background-color: #FFCC91;
}

.text-secondary-100 {
  color: #FFCC91;
}

.bg-black-10 {
  background-color: #BEC0CA;
}

.text-black-10 {
  color: #BEC0CA;
}

.bg-black-20 {
  background-color: #A6A8B1;
}

.text-black-20 {
  color: #A6A8B1;
}

.bg-black-30 {
  background-color: #8B8D97;
}

.text-black-30 {
  color: #8B8D97;
}

.bg-black-40 {
  background-color: #6E7079;
}

.text-black-40 {
  color: #6E7079;
}

.bg-black-50 {
  background-color: #53545C;
}

.text-black-50 {
  color: #53545C;
}

.bg-black-60 {
  background-color: #45464E;
}

.text-black-60 {
  color: #45464E;
}

.bg-black-70 {
  background-color: #37393F;
}

.text-black-70 {
  color: #37393F;
}

.bg-black-80 {
  background-color: #33343A;
}

.text-black-80 {
  color: #33343A;
}

.bg-black-90 {
  background-color: #2C2D33;
}

.text-black-90 {
  color: #2C2D33;
}

.bg-black-100 {
  background-color: #1C1D22;
}

.text-black-100 {
  color: #1C1D22;
}

.dash {
  width: 100%;
}

.module {
  width: 100%;
  min-height: 145px;
  margin: 8px;
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 12px;
}
.module--height {
  min-height: 369px;
}
.module--flex--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.module--flex--column--orders {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 160px;
}
.module--flex--column--with_orders {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 23px;
}
.module--blue {
  background: #5570F1;
}

.card {
  width: 100%;
}
.card--metrics--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #BEC0CA;
}
.card--metrics--top--color {
  color: #FFFFFF;
}
.card--metrics--top img {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}
.card--metrics--bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
  flex-wrap: wrap;
}
.card--metrics--bottom--title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8D97;
}
.card--metrics--bottom--title--white {
  color: #FFFFFF;
}
.card--metrics--bottom--title--red {
  color: #CC5F5F;
}
.card--metrics--bottom--values {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1C1D22;
}
.card--metrics--bottom--values--color {
  color: #FFFFFF;
}
.card--metrics--bottom--values--percent {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #519C66;
}
.card--metrics--bottom--values--percent--color {
  color: #FFFFFF;
}
.card--markting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.card--markting--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card--markting--top > h3 {
  font-weight: 500;
  font-size: 16px;
}
.card--markting--top span {
  font-weight: 400;
  font-size: 12px;
  color: #BEC0CA;
}
.card--markting--mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 11px;
  color: #A6A8B1;
}
.card--markting--mid--legend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.card--graph--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card--graph--top--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
}
.card--graph--top--left select {
  background: rgba(85, 112, 241, 0.08);
  border-radius: 8px;
  width: 99px;
  height: 30px;
  color: #5570F1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
}
.card--graph--top--left h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #45464E;
}
.card--graph--top span {
  font-weight: 400;
  font-size: 12px;
  color: #45464E;
}
.card--graph--bottom {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #BEC0CA;
}
.card--graph--bottom--bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.card--graph--bottom--bars {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.card--graph--bottom--yaxis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 37px;
}
.card--graph--bottom select {
  background: rgba(85, 112, 241, 0.08);
  border-radius: 8px;
  width: 99px;
  height: 30px;
  color: #5570F1;
}
.card--recent_orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card--recent_orders > p {
  max-width: 282px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #8B8D97;
  margin-bottom: 24px;
}
.card--recent_orders > h3 {
  font-size: 20px;
  line-height: 30px;
  color: #1C1D22;
  margin-bottom: 12px;
}
.card--recent_orders > img {
  width: 140px;
  height: 140px;
  margin-bottom: 40px;
}

.recent_orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #F1F3F9;
  padding: 10px;
  flex-wrap: wrap;
}
.recent_orders--product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recent_orders--product > img {
  width: 49px;
  height: 49px;
}
.recent_orders--product--info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
}
.recent_orders--product--info--equipment {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #45464E;
}
.recent_orders--product--info--value {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #33343A;
}
.recent_orders--status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 14px;
}
.recent_orders--status--date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A6A8B1;
}
.recent_orders--status--status {
  border-radius: 8px;
  background: rgba(245, 126, 119, 0.12);
  width: 77px;
  height: 19px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #CC5F5F;
}
.recent_orders--status--status--true {
  color: #519C66;
  background: rgba(50, 147, 111, 0.12);
}

html, body {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

.block {
  background: #F4F5FA;
  flex-grow: 1;
  min-height: 100vh;
}/*# sourceMappingURL=styles_dataDashboard.css.map */