@import './colors';
button
{
    width: 233px;
    height: 56px;
    color: map-get($map: $black, $key:"50");
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    border: none;
    gap: 18px;
    padding-left:22px;
    font-size: 14px;
    border-radius: 12px;

    & > img
    {
        width: 20px;
        height: 20px;          
    }

    &:focus
    {
        color:$white;
        background: map-get($map: $primary, $key:"100");
        & .notifications-circle
        {
            color: map-get($map: $black, $key:"100");
        }

    }

    &:hover
    {
        border: 1px solid $stroke;
        cursor:pointer;
    }

}

.sidebar--footer--buttons--support
{
    background:$support;

}


.sidebar--footer--logout
{
    display:flex;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color:$logout;
}

.sidebar--footer--buttons--gift
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    background: $gift;
    width: 233px;
    height: 82px;
 
        &--top
        {
            display: flex; 
            justify-content: flex-start;
            align-items: center; 
            gap: 18px; 

        }
        &--bottom
        {
            display: flex; 
            justify-content: flex-start;
            align-items: center;
            gap:18px;
            font-size: 12px;

            & img 
            {
                width: 4px;
                height: 8px;

            }
        }
}


.btn-notifications-user
{
    width: 32px;
    height: 32px;
    gap:0;
    padding: 0;
    border-radius: 2px;

    & img 
    {
        width: 32px;
        height: 32px;

    }
}

.btn-notifications
{
    width: 20px;
    height: 20px;
    gap:0;
    padding: 0;
    border-radius: 2px;
}

.btn-new-product
{
    width: 150px;
    height: 44px;
    background:map-get($map: $primary, $key:"100");
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    color: $white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;

    &--img 
    {
        width: 14px;
        height: 14px;
    }
}


.btn-login-submit
{
    
    display: flex;
    justify-content:center;
    align-items: center;
    width: 180px;
    height: 58px;
    background: map-get($map: $primary, $key:"100");
    border-radius: 12px;
    padding: 0;
    & > p
    {
        color: $white;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    
}


.btn-login-showpass
 {
    background: none;
    width:20px;
    height: 20px;
    border:none;
    padding: 0;
}


@media All and (max-width: 768px) 
{
    button
    {
        gap:0;
    }
    .sidebar--footer--buttons--gift
    {

        align-items: center; 
        justify-content: center;
     
            &--top
            {
               
                justify-content: center;
                align-items: center; 
                gap: 0px;
                
                 
            }
            &--bottom
            {
                justify-content: center;
                align-items: center; 
                gap: 0px;
                
             
                & img 
                {
                    display: none;
                    align-items: center; 
    
                }
            }
    }

    .btn-new-product
    {
        gap:18px;

    }
        
}






