.notifications-circle
{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #FFCC91;
  line-height: 24px;
}

@mixin rectangle-pre($percent) 
{
background: #5570F1;
border-radius: 50px;
width: 13px;
height:$percent;
}

.rectangle
{
  width: 13px;
  height: 241px;
  border-radius: 50px;
  background: #EEF0FA;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &--value10 {
    @include rectangle-pre(10%);
  }
  &--value20 {
    @include rectangle-pre(20%);
  }
  &--value30 {
    @include rectangle-pre(30%);
  }
  &--value40 {
    @include rectangle-pre(40%);
  }
  &--value50 {
    @include rectangle-pre(50%);
  }
  &--value60 {
    @include rectangle-pre(60%);
  }
  &--value70 {
    @include rectangle-pre(70%);
  }
  &--value80 {
    @include rectangle-pre(80%);
  }
  &--value90 {
    @include rectangle-pre(90%);
  }
  &--value100 {
    @include rectangle-pre(100%);
  }
}


.point
{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background:black ;
  &--color1
  {
    background: #5570F1;
  }
  &--color2
  {
    background: #97A5EB;

  }
  &--color3
  {
    background: #FFCC91;

  }
}


@mixin markting-percent($percent) 
{
width:$percent;
height: 100%;
text-align: right;
vertical-align: bottom;
position:relative;
}

.blue-sqr
{
  width: 100%;
  min-height: 208px;
  background: #EEF0FA;
  display:flex;
  justify-content: center;
  align-items: flex-start;

  &--acquisition
  {
    @include markting-percent(25%);
    background: #5570F1;
  }

  &--purchase
  {
    @include markting-percent(25%);
    background: #97A5EB;
  }

  &--retention
  {
    @include markting-percent(50%);
    background: #FFCC91;
  }
 
  & span
  {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
  }

}