@import './colors';
@import './mixins';

.notifications-circle
{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: map-get($map: $secondary, $key:"100");
  line-height: 24px;
}

.rectangle
{
  width: 13px;
  height: 241px;
  border-radius: 50px;
  background: $blue_sqr;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &--value10 {
    @include rectangle-pre(10%);
  }
  &--value20 {
    @include rectangle-pre(20%);
  }
  &--value30 {
    @include rectangle-pre(30%);
  }
  &--value40 {
    @include rectangle-pre(40%);
  }
  &--value50 {
    @include rectangle-pre(50%);
  }
  &--value60 {
    @include rectangle-pre(60%);
  }
  &--value70 {
    @include rectangle-pre(70%);
  }
  &--value80 {
    @include rectangle-pre(80%);
  }
  &--value90 {
    @include rectangle-pre(90%);
  }
  &--value100 {
    @include rectangle-pre(100%);
  }
}


.point
{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: map-get($map: $black, $key:"100");
  &--color1
  {
    background:map-get($map: $primary, $key:"100");
  }
  &--color2
  {
    background:map-get($map: $primary, $key:"50");
  }
  &--color3
  {
    background:map-get($map: $secondary, $key:"100");
  }
}

.blue-sqr
{
  width: 100%;
  min-height: 208px;
  background: $blue_sqr;
  display:flex;
  justify-content: center;
  align-items: flex-start;

  &--acquisition
  {
    @include markting-percent(25%);
    background: map-get($map: $primary, $key:"100");
  }

  &--purchase
  {
    @include markting-percent(25%);
    background:map-get($map: $primary, $key:"50");
  }

  &--retention
  {
    @include markting-percent(50%);
    background:map-get($map: $secondary, $key:"100");
  }
 
  & span
  {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: map-get($map: $black, $key:"100");
  }

}




@media All and (max-width: 768px) 
{

  .notifications-circle
  {
    position: absolute;
    top: 3px;
    right:0px;
  }

}