@import './colors';

@mixin rectangle-pre($percent) 
{
background:map-get($map: $primary, $key:"100");
border-radius: 50px;
width: 13px;
height:$percent;
}

@mixin markting-percent($percent) 
{
width:$percent;
height: 100%;
text-align: right;
vertical-align: bottom;
position:relative;
}