@import './partials/buttons';
@import './components/sidebar';
@import './components/topbar';


body
{
    display: flex;
}

.block
{
   background: #F4F5FA;
   flex-grow: 1;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

}